<header>
    <div class="content">
        <img class="badge" src="/img/header-1.png"><img src="/img/header-2.png">
        <a class="fb" href="https://www.facebook.com/colocpref">
            <img src="/img/header-3.png">
        </a>
    </div>
</header>