<head>
    <meta charset="utf-8">
    <title>Telex 2000</title>
    <meta name="author" content="@Gsellator">
    <meta name="description" content="Communiquez avec la Little Printer de la coloc">
    <meta name="Keywords" content="prefecture de la coloc, little printer">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/css/style.css">

    <!-- Icons -->
    <!--[if IE]><link rel="shortcut icon" href="/favicon.ico" /><![endif]-->
    <link rel="icon" type="image/png" href="/favicon.png">
    <meta property="og:image" content="/img/logo.png">
    <meta name="twitter:image" content="/img/logo.png">

    <script type="text/javascript" src="//use.typekit.net/znr0fvx.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>